[submodule "AvaloniaUtils"]
	path = AvaloniaUtils
	url = https://github.com/Nekohim3/AvaloniaUtils
	branch = master
[submodule "AvaloniaTreeTabWindowManager"]
	path = AvaloniaTreeTabWindowManager
	url = https://github.com/Nekohim3/AvaloniaTreeTabWindowManager
	branch = master
